
.section4 {
    background-color: #fff;
    height: 744px;
    font-family: 'Raleway', sans-serif;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 35px;
}

@media (max-width: 1200px) {
    .section4 {
        height: auto;
        max-width: 992px;
        padding-top: 25px;
    }
}

@media (max-width: 575px) {
    .section4 {
        max-width: 340px;
        padding: 0 10px;
    }
}

.opinions {
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .opinions {
        margin-top: 32px;
    }
}

.opinions__block {
    margin-right: 30px;
    background-color: #E2E2E2;;
    border-radius: 10px;
    padding: 33px 18px 31px;
}

.opinions__block:last-child {
    margin-right: 0;
}

.opinions__block1__text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

@media (max-width: 1200px) {
    .opinions__block1__text {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 575px) {
    .opinions__block:last-child, .opinions__block:first-child {
        display: none;
    }
}

.opinions__decorations {
    display: flex;
    justify-content: flex-start;
}

.opinions__decorations__item {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #E2E2E2;
}

.opinions__decorations__item3 {
    position: relative;
    left: 820px;
}

@media (max-width: 1200px) {
    .opinions__decorations__item3 {
        left: 700px;
    }
}

@media (max-width: 575px) {
    .opinions__decorations__item3 {
        display: none;
    }
}

.opinions__decorations__item2 {
    position: relative;
    left: 445px;
}

@media (max-width: 1200px) {
    .opinions__decorations__item2 {
        left: 390px;
    }
}

@media (max-width: 575px) {
    .opinions__decorations__item2 {
        display: none;
    }
}

.opinions__decorations__item1 {
    position: relative;
    left: 70px;
}

.people__block {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.people__block__item {
    width: 370px;
}

@media (max-width: 1200px) {
    .people__block__item {
        width: 317px;
    }
}

@media (max-width: 575px) {
    .people__block__item:last-child, .people__block__item:first-child {
        display: none;
    }
}

.people__block__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 15px;

}

@media (max-width: 1200px) {
    .people__block__name {
        font-size: 18px;
        line-height: 25px;
    }
}

.people__block__job {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

@media (max-width: 1200px) {
    .people__block__name {
        font-size: 14px;
        line-height: 16px;
    }
}

.people__block__text {
    padding-left: 100px;
    z-index: 0;
}

@media (max-width: 1200px) {
    .people__block__text {
        padding-left: 95px;
    }
}

.people__block__image {
    display: block;
    z-index: 1;
    position: relative;
    top: -70px;
}

@media (max-width: 1200px) {
    .people__block__image {
        top: -60px;
        left: 8px;
    }
}