
body {
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;

}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 340px;
        padding: 0 10px;
    }
}

.content3 {
    background-color: #fff;
}

.top {
    padding: 10px 0;
}

.top__body__title {
    font-size: 36px;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

@media (max-width: 1200px) {
    .top__body__title {
        font-size: 24px;
        line-height: 120px;
    }
}

@media (max-width: 575px) {
    .top__body__title {
        line-height: 100px;
    }
}

.top__body__line {
    border: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto;
}

.top__body__subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin: 40px 0 60px 0;
}

@media (max-width: 1200px) {
    .top__body__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 32px 0 45px 0;
    }
}

@media (max-width: 575px) {
    .top__body__subtitle {
        margin: 30px 0 35px 0;
    }
}

.price__row {
    display: flex;
    margin: 0 -15px;
    align-items: center;
}

@media (max-width: 1200px) {
    .price__row {
        margin: 0 -8px;
    }
}

@media (max-width: 575px) {
    .price__row {
        flex-direction: column;
        margin: 0;
    }
}

.price__column {
    flex: 0 1 33.333%;
    display: flex;
    padding: 0 15px;
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .price__column {
        padding: 0 8px;
    }
}

@media (max-width: 1200px) {
    .price__column {
        margin-bottom: 30px;
    }
}

.item__body {
    background: #333333;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.item {
    width: 369px;
    border: 2px solid #F5F5F5;
    text-align: center;
}

@media (max-width: 1200px) {
    .item {
        width: 318px;
    }
}

@media (max-width: 575px) {
    .item {
        width: 300px;
    }
}

.price__column__item2 {
    margin-top: -45px;
    box-shadow: 2px 4px 5px #d4d4d4;
}
@media (max-width: 575px) {
    .price__column__item2 {
        margin-top: 0;
    }
}

.item__plan {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    text-transform: capitalize;
}

@media (max-width: 575px) {
    .item__plan {
        line-height: 47px;
        font-size: 18px;
    }
}

.item__cost {
    font-weight: 700;
    font-size: 36px;
    line-height: 100px;
}

@media (max-width: 575px) {
    .item__cost {
        line-height: 78px;
        font-size: 24px;
    }
}

.item__plan:hover, .item__cost:hover {
    color: #EC7979;
}
.item__free {
    font-size: 18px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 575px) {
    .item__free {
        line-height: 47px;
        font-size: 18px;
    }
}

.item__gb {
    font-size: 18px;
    line-height: 50px;
    text-transform: capitalize;
    color: #86878B;
    background: #FFFFFF;
}

@media (max-width: 575px) {
    .item__gb {
        line-height: 39px;
        font-size: 14px;
    }
}
